# TRANSFORMACIÓN DE DATOS

## IMPORTAR PAQUETES

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#Automcompletar rápido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

1.- Cargamos el dataset originar a partir del cual vamos a generar las variables artificiales para hacer los dashboard.

In [19]:
nombre_fichero_datos = 'MntoMaquina.xlsx'

In [20]:
ruta_completa = '../../02_Datos/01_Originales/' + nombre_fichero_datos

df = pd.read_excel(ruta_completa, index_col = 0, header = 1)
df

,Temperature,Humidity,Operator,Measure1,Measure2,Measure3,Measure4,Measure5,Measure6,Measure7,...,Measure15,Hours Since Previous Failure,Failure,﻿Date.year,﻿Date.month,﻿Date.day-of-month,﻿Date.day-of-week,﻿Date.hour,﻿Date.minute,﻿Date.second
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00,68,77,Operator1,1180,1,1,1915,1194,637,1093,...,748,91,No,2016,1,1,5,1,0,0
2016-01-01 02:00:00,64,76,Operator1,1406,1,1,511,1577,1121,1948,...,1689,92,No,2016,1,1,5,2,0,0
2016-01-01 03:00:00,63,80,Operator1,550,1,1,1754,1834,1413,1151,...,711,93,No,2016,1,1,5,3,0,0
2016-01-01 04:00:00,65,81,Operator1,1928,1,2,1326,1082,233,1441,...,507,94,No,2016,1,1,5,4,0,0
2016-01-01 07:00:00,67,76,Operator1,1021,2,1,185,170,952,1183,...,844,97,No,2016,1,1,5,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 18:00:00,61,82,Operator8,1613,2,0,918,1710,440,1783,...,1575,6,No,2016,12,31,6,18,0,0
2016-12-31 19:00:00,66,79,Operator8,937,0,2,1875,1719,219,748,...,410,7,No,2016,12,31,6,19,0,0
2016-12-31 20:00:00,60,77,Operator8,379,3,0,814,1990,1606,1346,...,943,8,No,2016,12,31,6,20,0,0
2016-12-31 21:00:00,61,77,Operator8,595,3,1,1659,1134,1314,907,...,200,9,No,2016,12,31,6,21,0,0
2016-12-31 23:00:00,60,82,Operator8,399,0,1,324,1424,809,919,...,1548,11,No,2016,12,31,6,23,0,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7027 entries, 2016-01-01 01:00:00 to 2016-12-31 23:00:00
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Temperature                   7027 non-null   int64
 1   Humidity                      7027 non-null   int64
 2   Operator                      7027 non-null   object
 3   Measure1                      7027 non-null   int64
 4   Measure2                      7027 non-null   int64
 5   Measure3                      7027 non-null   int64
 6   Measure4                      7027 non-null   int64
 7   Measure5                      7027 non-null   int64
 8   Measure6                      7027 non-null   int64
 9   Measure7                      7027 non-null   int64
 10  Measure8                      7027 non-null   int64
 11  Measure9                      7027 non-null   int64
 12  Measure10                     7027 non-null   int64
 13  Measure11                     7027 non-null   int64
 14  Measure12                     7027 non-null   int64
 15  Measure13                     7027 non-null   int64
 16  Measure14                     7027 non-null   int64
 17  Measure15                     7027 non-null   int64
 18  Hours Since Previous Failure  7027 non-null   int64
 19  Failure                       7027 non-null   object
 20  ﻿Date.year                    7027 non-null   int64
 21  ﻿Date.month                   7027 non-null   int64
 22  ﻿Date.day-of-month            7027 non-null   int64
 23  ﻿Date.day-of-week             7027 non-null   int64
 24  ﻿Date.hour                    7027 non-null   int64
 25  ﻿Date.minute                  7027 non-null   int64
 26  ﻿Date.second                  7027 non-null   int64
dtypes: int64(25), object(2)
memory usage: 1.5+ MB

## Eliminamos Variables

In [22]:
borrar = df.loc[:,df.columns.str.contains('Date|Measure|Temperature|Humidity')].columns
df.drop(columns = borrar,inplace = True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7027 entries, 2016-01-01 01:00:00 to 2016-12-31 23:00:00
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Operator                      7027 non-null   object
 1   Hours Since Previous Failure  7027 non-null   int64
 2   Failure                       7027 non-null   object
dtypes: int64(1), object(2)
memory usage: 219.6+ KB

In [24]:
df

                      Operator  Hours Since Previous Failure Failure
Date
2016-01-01 01:00:00  Operator1                            91      No
2016-01-01 02:00:00  Operator1                            92      No
2016-01-01 03:00:00  Operator1                            93      No
2016-01-01 04:00:00  Operator1                            94      No
2016-01-01 07:00:00  Operator1                            97      No
...                        ...                           ...     ...
2016-12-31 18:00:00  Operator8                             6      No
2016-12-31 19:00:00  Operator8                             7      No
2016-12-31 20:00:00  Operator8                             8      No
2016-12-31 21:00:00  Operator8                             9      No
2016-12-31 23:00:00  Operator8                            11      No

[7027 rows x 3 columns]

## Creamos variables sintéticas

En primer lugar claculamos el tiempo total de producción

In [25]:
df['Tiempo_Total'] = df.index - df.index[0]

In [26]:
from datetime import timedelta
df['Tiempo_Total_min'] = df['Tiempo_Total'].apply(lambda x: x.total_seconds()/60)

Creamos un aleatorio de tarros cerrados y tarros defectuosos

In [27]:
import random
df['Tarros_Cerrados_aleatorios'] = [random.randrange(6000,9000) for p in range(0, len(df))]
df['Tarros_Defectuosos'] = [random.randrange(60,500) for p in range(0, len(df))]
df['Tarros_Defectuosos'][0] = 0

C:\Users\eloic\AppData\Local\Temp\ipykernel_4572\2391870996.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tarros_Defectuosos'][0] = 0

Creamos la variable de Tiempo en funcionamiento de la máquina

In [28]:
df['Tiempo_Total_min_lag_1'] = df.Tiempo_Total_min.shift(1, fill_value=0)
df['Tiempo_funcionamiento_min'] = df['Tiempo_Total_min'] - df['Tiempo_Total_min_lag_1']
df.drop(columns = ['Tiempo_Total_min_lag_1','Tiempo_Total_min','Tiempo_Total'],inplace = True)

Introducimos la condicion simple de que cuando da fallos no se cierran tarros

In [29]:
df['Tarros_Cerrados'] = np.where(df['Failure'] == 'Yes',0,df['Tarros_Cerrados_aleatorios'])
df.drop(columns = 'Tarros_Cerrados_aleatorios',inplace = True)

Introducimos la condición simple de que cuando hay fallo hay un tiempo de parada

In [30]:
df['Tiempo_Paradas_min'] = np.where(df['Failure'] == 'Yes', df['Tiempo_funcionamiento_min'],0)
df['Tiempo_Producción_min'] = df['Tiempo_funcionamiento_min'] - df['Tiempo_Paradas_min']

In [31]:
df.head()

,Operator,Hours Since Previous Failure,Failure,Tarros_Defectuosos,Tiempo_funcionamiento_min,Tarros_Cerrados,Tiempo_Paradas_min,Tiempo_Producción_min
Date,,,,,,,,
2016-01-01 01:00:00,Operator1,91,No,0,0.0,7194,0.0,0.0
2016-01-01 02:00:00,Operator1,92,No,327,60.0,7995,0.0,60.0
2016-01-01 03:00:00,Operator1,93,No,165,60.0,6855,0.0,60.0
2016-01-01 04:00:00,Operator1,94,No,495,60.0,6181,0.0,60.0
2016-01-01 07:00:00,Operator1,97,No,488,180.0,7306,0.0,180.0

Introducimos una condición múltiple que para mayor tiempo de producción mayor es el número de tarros cerrados

In [32]:
#Lista de condiciones
condiciones = [(df['Tiempo_Producción_min'] < 60),
               (df['Tiempo_Producción_min'] == 60),
               (df['Tiempo_Producción_min'] > 60)]

#Lista de resultados
resultados = [0,df['Tarros_Cerrados'],df['Tarros_Cerrados']*df['Tiempo_Producción_min']/60]
                
#Aplicamos select
df['Tarros_Cerrados'] = np.select(condiciones,resultados, default = -999)

Añadimos una variable del máximo de producción posible con el redimiento de la máquina

In [33]:
df['Tarros_max_prod'] = df['Tiempo_funcionamiento_min'] * 2.5 *60

Pasamos el tiempo desde la última avería a minutos

In [34]:
df['Tiempo_ultima_averia_min'] = df['Hours Since Previous Failure'] * 60

Creamos la variabel de tarros correctos

In [35]:
df['Tarros_correctos'] = df['Tarros_Cerrados'] - df['Tarros_Defectuosos']

Ordenamos el dataset

In [36]:
df = df.loc[:,['Operator','Failure','Tarros_max_prod','Tarros_Cerrados','Tarros_Defectuosos','Tarros_correctos','Tiempo_funcionamiento_min','Tiempo_Paradas_min','Tiempo_Producción_min','Tiempo_ultima_averia_min']]
df

,Operator,Failure,Tarros_max_prod,Tarros_Cerrados,Tarros_Defectuosos,Tarros_correctos,Tiempo_funcionamiento_min,Tiempo_Paradas_min,Tiempo_Producción_min,Tiempo_ultima_averia_min
Date,,,,,,,,,,
2016-01-01 01:00:00,Operator1,No,0.0,0.0,0,0.0,0.0,0.0,0.0,5460
2016-01-01 02:00:00,Operator1,No,9000.0,7995.0,327,7668.0,60.0,0.0,60.0,5520
2016-01-01 03:00:00,Operator1,No,9000.0,6855.0,165,6690.0,60.0,0.0,60.0,5580
2016-01-01 04:00:00,Operator1,No,9000.0,6181.0,495,5686.0,60.0,0.0,60.0,5640
2016-01-01 07:00:00,Operator1,No,27000.0,21918.0,488,21430.0,180.0,0.0,180.0,5820
...,...,...,...,...,...,...,...,...,...,...
2016-12-31 18:00:00,Operator8,No,9000.0,7252.0,464,6788.0,60.0,0.0,60.0,360
2016-12-31 19:00:00,Operator8,No,9000.0,6866.0,341,6525.0,60.0,0.0,60.0,420
2016-12-31 20:00:00,Operator8,No,9000.0,7472.0,342,7130.0,60.0,0.0,60.0,480
2016-12-31 21:00:00,Operator8,No,9000.0,7642.0,126,7516.0,60.0,0.0,60.0,540
2016-12-31 23:00:00,Operator8,No,18000.0,12328.0,157,12171.0,120.0,0.0,120.0,660

Aplicamos una condición simple de que cuando hay fallo los Tarros correctos no son negativos sino 0

In [37]:
df['Tarros_correctos'] = np.where(df['Tarros_correctos'] < 0,0,df['Tarros_correctos'])

In [38]:
df

,Operator,Failure,Tarros_max_prod,Tarros_Cerrados,Tarros_Defectuosos,Tarros_correctos,Tiempo_funcionamiento_min,Tiempo_Paradas_min,Tiempo_Producción_min,Tiempo_ultima_averia_min
Date,,,,,,,,,,
2016-01-01 01:00:00,Operator1,No,0.0,0.0,0,0.0,0.0,0.0,0.0,5460
2016-01-01 02:00:00,Operator1,No,9000.0,7995.0,327,7668.0,60.0,0.0,60.0,5520
2016-01-01 03:00:00,Operator1,No,9000.0,6855.0,165,6690.0,60.0,0.0,60.0,5580
2016-01-01 04:00:00,Operator1,No,9000.0,6181.0,495,5686.0,60.0,0.0,60.0,5640
2016-01-01 07:00:00,Operator1,No,27000.0,21918.0,488,21430.0,180.0,0.0,180.0,5820
...,...,...,...,...,...,...,...,...,...,...
2016-12-31 18:00:00,Operator8,No,9000.0,7252.0,464,6788.0,60.0,0.0,60.0,360
2016-12-31 19:00:00,Operator8,No,9000.0,6866.0,341,6525.0,60.0,0.0,60.0,420
2016-12-31 20:00:00,Operator8,No,9000.0,7472.0,342,7130.0,60.0,0.0,60.0,480
2016-12-31 21:00:00,Operator8,No,9000.0,7642.0,126,7516.0,60.0,0.0,60.0,540
2016-12-31 23:00:00,Operator8,No,18000.0,12328.0,157,12171.0,120.0,0.0,120.0,660

Generamos un tiempo de funcionamiento más realista.

In [48]:
df['Tiempo_Producción_min'] = df['Tiempo_Producción_min']*[random.uniform(0.75, 0.95) for p in range(0, len(df))]

In [49]:
df

,Operator,Failure,Tarros_max_prod,Tarros_Cerrados,Tarros_Defectuosos,Tarros_correctos,Tiempo_funcionamiento_min,Tiempo_Paradas_min,Tiempo_Producción_min,Tiempo_ultima_averia_min,Aleatorio
Date,,,,,,,,,,,
2016-01-01 01:00:00,Operator1,No,0.0,0.0,0,0.0,0.0,0.0,0.000000,5460,0.856197
2016-01-01 02:00:00,Operator1,No,9000.0,7995.0,327,7668.0,60.0,0.0,48.665926,5520,0.770846
2016-01-01 03:00:00,Operator1,No,9000.0,6855.0,165,6690.0,60.0,0.0,54.653596,5580,0.768049
2016-01-01 04:00:00,Operator1,No,9000.0,6181.0,495,5686.0,60.0,0.0,50.109022,5640,0.881073
2016-01-01 07:00:00,Operator1,No,27000.0,21918.0,488,21430.0,180.0,0.0,163.676584,5820,0.828745
...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 18:00:00,Operator8,No,9000.0,7252.0,464,6788.0,60.0,0.0,49.525522,360,0.929892
2016-12-31 19:00:00,Operator8,No,9000.0,6866.0,341,6525.0,60.0,0.0,47.583352,420,0.816665
2016-12-31 20:00:00,Operator8,No,9000.0,7472.0,342,7130.0,60.0,0.0,50.471206,480,0.945475
2016-12-31 21:00:00,Operator8,No,9000.0,7642.0,126,7516.0,60.0,0.0,46.552564,540,0.903898
2016-12-31 23:00:00,Operator8,No,18000.0,12328.0,157,12171.0,120.0,0.0,111.849315,660,0.924236

## Guardamos el dataset creado

In [50]:
df.to_excel('../../02_Datos/03_Trabajo/Datos_Dashboard_kpis.xlsx',index=True)